extends ../_layout
block content
  h1.heading New Decision
  form.form(method="POST")
    label.form__label title
      input.form__input(type="text", name="title")
      input.form__input(type="text", name="title", value=title)
    label.form__label
      span.form__labelInline Is this decision public?
      label.form__labelInline
        input.form__input__radio(type="radio", name="type", value="public")
        input.form__input__radio(type="radio", name="type", value="public", checked=type === 'public')
        span yes
      label.form__labelInline
        input.form__input__radio(type="radio", name="type", value="private")
        input.form__input__radio(type="radio", name="type", value="private" checked=type === 'private')
        span no
    button.button(type="submit") Save
    if errors
      for error in errors
        small.flash=error.msg
