extends _layout
include _includes/link_mixin
block content
  h1.heading Public Decisions
  ul.list
    for decision in decisions
      li.list__item
        span.list__item__title= decision.title
         +link('/decisions/'+decision.id, 'View')
