header.header
  .header_container
    h1
      a.header_brand(href="/") Decision Maker
    .links
      if loggedIn
        a.header_link(href="/admin/decisions") Dashboard
        a.header_link(href="/admin/decisions/new") Create a new decision
        a.header_link(href="/logout") Logout
      else
        a.header_link(href="/login") Login
